@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Cardo'), local('Cardo-Regular'), url(https://fonts.gstatic.com/s/cardo/v11/wlp_gwjKBV1pqhv03IE7225PUCk.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gTD_vx3rCubqg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

input { 
    display: none;
}

input[type='checkbox']:checked + img {
    box-shadow: -1px 0px 13px 4px rgba(0,0,0,0.5);
}

body {
    background-color: white;
}

/* can make a common header if we want to for a nice navigation bar */

header {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

nav { 
    width: 100%;
    background-image: url("../assets/about-us/footer-image.jpg");
    
}

img.logo {
    width: 1000px;
    margin: 0;
    background-color: white;
    padding: 0;
    border-radius: 30px;
}

a {
    color: white;
    font-size: 30px;
    font-family: 'Cardo';
}

/* a:visited{ 
    color: orange;
} */
/* navigation styling */
ul {
    list-style-type: none;
    display: flex; 
    justify-content: center;
    color: white;
    padding: 0;
}

li {
    padding: 30px;
}

/* footer styling*/
footer {
    background-image: url("../assets/about-us/footer-image.jpg");
    height: 100%;
    display: flex;
    justify-content: center;
}

/*main styling*/

main {
    font-family: 'Montserrat';
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    /* background-image:url("../assets/about-us/footer-image.jpg");
    width: 80%; */
}

#boxes {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

label {
    margin-bottom: 100px;
}

.button {
    border-radius: 20px;
}

button {
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
}

